@import "huoshow_global.css";
/* CSS Document */
body { font-family:"宋体", arial; margin:0; padding:0; font-size:12px; color:#414141; }
div, form, img, ul, ol, li, dl, dt, dd, p { margin: 0; padding: 0; border: 0; }
li, dl { list-style-type:none; }
h1, h2, h3, h4, h5, h6 { margin:0; padding:0; font-size:12px; font-weight:normal; }
a { color:#414141; text-decoration:none; }
a:hover { color: #d60921; }

.input{border:1px solid #abadb3; width:140px; height:14px; color:#ccc; font-size:12px; padding-top:3px;}
.select{border:1px solid #abadb3; width:60px; height:20px; color:#ccc; font-size:12px;}

.clear { height:0px; line-height:0px; font-size:0px; overflow:hidden; clear:both; }
.kongge { height:10px; width:auto; }
.jju { height:10px; width:auto; }

.yingshi_bj { background-color: #f6f6f6; background-image: url(../images/events/movie_bg.jpg); background-repeat: repeat-x;}
#mian { width:auto; margin:0 auto; height:auto; }
#mian .box {}

/* 头部导航 */
#head { width:auto; height:36px; background:url(../images/events/bg.jpg) 0 160px; }
#headnr { width:960px; height:36px; margin:0 auto;}
.headnnav { width:480px; padding-top:8px; float:left; margin:0 auto; }
.headnnav_01 { background:url(../images/events/bg.jpg) left 549px; width:6px; height:24px; float:left; }
.headnnav_02 { width:auto;height:24px;background-image:url(../images/events/bg.jpg); background-position:0 581px;   float:left; color:#dedcdd; padding:0px 5px; }
.headnnav_02 a { line-height:22px;}
.headnnav_03 { background:url(../images/events/bg.jpg) left 488px; width:7px; height:24px; float:left; }
.headnyou { width:410px; float:right; margin-right:10px; display:inline;}
.headnyou_bt{ background: url(../images/events/bottom_jiantou.gif) right center no-repeat ; width:60px; height:20px;}
.headnyou_bt a{ margin-right:10px;}
.login{ background: url(../images/events/hover_bj.jpg) left 563px; width:187px; height:36px; float:right;}
.login a{ line-height:35px; font-size:13px; margin-left:35px;}
#headnyousy { width:200px;  float:left; margin-right:10px;  margin-top:8px; color:#CCC; display:inline;  height:24px; padding-top:5px;}
#headnyousy a { padding-left:5px; padding-right:5px; vertical-align:middle;}
.headnyou_bt_02{ background:url(../images/events/hover_bj.jpg) left 497px; width:10px; height:14px;display:inline-block; }
.headnyou_bt_01{ background:url(../images/events/hover_bj.jpg) left 518px; width:10px; height:14px;display:inline-block;}
.headnyou_bt_03{ background:url(../images/events/hover_bj.jpg) left 475px; width:10px; height:14px;display:inline-block;}

.main_body { width:960px; height: auto; margin: 0 auto; padding-top:10px; }

/* more */
.more {float:right; height:32px; line-height:32px; margin-right:10px;vertical-align:middle;}
.more a {padding-right:10px; color:#8a8a8a;height:32px;}
.more_bg {background:url(../images/events/more_gary.gif) no-repeat; background-position:95% 52%;}

/* title */
.wenzi{ font-size:16px; color:#414141;font-family:"微软雅黑"; padding-left:10px; line-height:30px; float:left;}
.title_blue {font-size:16px; font-family:"微软雅黑","宋体"; color:#365795; padding-left:10px; float:left; line-height:30px;}
.title_Black{width:100px;font-size:16px; font-family:"微软雅黑","宋体"; color:#414141; padding-left:5px; line-height:28px; float:left;}
.title_black_24{font-size:24px; font-family:"微软雅黑","宋体"; color:#414141; padding-left:5px; line-height:30px; float:left;}

/* title background */
.left_title_bg {width:296px; height:31px; background:url(../images/events/bg.jpg) left 328px;}
.right_title_bg {width:390px; height:31px; background:url(../images/events/bg.jpg) left 328px;}
.full_title_bg {width:956px; height:37px; background:url(../images/events/bg.jpg) left 42px; margin:0 auto;}

/* global */
.body_bg { background-color: #fff; background-image: url(../images/events/music_body_bg.gif); background-repeat: repeat-x;}

/* nav */
.nav_body {margin:0 auto; width:960px; height:76px;}
.nav_bg {background:url(../images/events/music_logo.jpg) no-repeat; margin: 0 auto; height:75px; position:relative; left:-192px;}
.channel_logo a {width: 200px; height: 72px; display: block; text-indent: -999em; margin: 2px; float: left; position:relative; left:192px;}

#sub_channel { width:740px; height:35px; float:right; display:inline; position:relative; left:192px;}
#sub_channel ul {height:35px; display:inline;  overflow:hidden; margin-top:40px; float:right;}
#sub_channel ul li { float:left;}
#sub_channel ul li a {width:83px; height:35px;  color:#FFF; font-size:16px;  background:url(../images/events/ss_bg.jpg) right 719px;text-align:center;display:inline-block; line-height:35px; margin-left:1px;}
#sub_channel ul li a:hover{width:83px; height:35px;color:#e4c100;   font-size:16px; background:url(../images/events/ss_bg.jpg) right 673px; text-align:center; display:inline-block;line-height:35px;}

/* search */
.search {width:960px; height:38px; margin:0 auto; line-height:38px; vertical-align:middle;}
.search_text {float:left; margin-left:10px;width:510px;}
.search_text a {color:#1e1e1e;}
.search_input {float:left; margin:8px 0 0 155px; }
.search_dropdown {float:left; margin:8px 0 0 5px; width:60px; height:20px; }
.search_button {float:left; margin:9px 0 0 5px; background:url(../images/common/bg.jpg) left 666px; width:58px; height:18px;}
.search_button a{width:58px; margin-left:15px; line-height:18px;}

/* footer */
#footer_bg {background-color:#1e1e1e; margin-top:20px;}
#footer {width:960px; height:100px;  margin:0 auto; background-color:#1e1e1e;}
.footer_txt {width:700px; color:#b6b6b6; line-height:16px; padding-top:26px;}
.footer_txt a {color:#b6b6b6; }
.footer_logo {background:url(../images/common/hover_bj.jpg) left 130px; width:90px; height:60px; float:left; margin-right:15px;}

/* banner */
.music_banner{width:300px; height:421px;float:left;overflow: hidden;}
.music_banner .pagebox_pages_wrap,
.music_banner .pagebox_page{width:300px;overflow:hidden;}
.index_banner_W960_02{ width:960px;}
.events_banner_250{ margin-top:8px; float:right;}
.banner_W960{ margin-top:8px;}
.web_game_banner_250{ float:right; margin-top:8px;}
.qbzt_banner_250{}

/*内容文字色系*/
.Purple{ color:#b60997;font-size:16px;font-family:"微软雅黑","宋体";  font-weight:bold; line-height:26px; margin-top:10px;}
.s_top_news{ margin-left:10px; line-height:20px; border-bottom:1px solid #e3e3e3; margin-right:10px; height:50px;}

/* text */
.text_gray {color:#8a8a8a; font-size:12px;font-weight:normal;}

/*top滑动*/
.events_W960 {
	width: 958px;
	border: 1px solid #e3e3e3;
	float:left;
	margin: 10px 0;
}

.events_title_960 {
	background: url(../images/events/ss_bg.jpg) left 422px;
	width: 958px;
	height: 32px;
	overflow: hidden;
}

.Purple_Black_dong a {
	color: #ba0f9b;
	font: bold 14px/32px "宋体", arial;
	width: 84px;
	height: 32px;
	display: inline-block;
	text-align: center;
	position: relative;/* 解决在 IE8 中会莫名消失的问题 */
	outline: none;
}
.Purple_Black_dong a:hover, .Purple_Black_hover {
	color: #3e0635;
	background:url(../images/events/events_hover.jpg) no-repeat;
}

w.events_zt_list_01 {/* TODO */
	width: 929px;
	margin: 15px 5px  0 20px;
}

#box_1 {
	position: relative;
	width: 958px;
	height: 210px;
	overflow: hidden;
}

.events_zt_list_left, .events_zt_list_right {
	position: absolute;
	left: 10px;
	top: 50%;
	width: 22px;
	height: 44px;
	margin-top: -22px;
	display: inline;
	background: url(../images/events/ss_bg.jpg) left 598px;
	cursor: pointer;
}

.events_zt_list_left:hover {
	left: 8px;
}

.events_zt_list_right {
	left: auto;
	right: 10px;
	background-position: left 535px;
}

.events_zt_list_right:hover {
	right: 8px;
}

.scrollbox-items-wrap {
	position: absolute;
	top: 50%;
	left: 50%;
	width: 852px;
	height: 200px;
	overflow:hidden;
	margin: -100px 0 0 -426px;
	background-color: #fff;
}

.scrollbox-items-current {
	z-index: 10;
}

.scrollbox-items-wrap ul{
	position: relative;
	width: 99999em;
	height: 200px;
}

.scrollbox-items-wrap-body li{
	float: left;
	display: inline;
	width: 130px;
	height: 200px;
	margin: 5px 6px 0;
}

.scrollbox-items-wrap-body img{
	display: block;
	width: 120px;
	height: 160px;
	padding: 4px;
	border: 1px solid #eee;
}

.scrollbox-items-wrap-body a:hover img{
	border-color: #cfcfcf;
}

.scrollbox-items-title {
	display: block;
	margin-top: 6px;
	height: 14px;
	line-height: 14px;
	overflow: hidden;
	text-align: center;
}

/* body left */
.body_left { width:702px; height:auto; float:left;}
.top_news {width:702px; padding-bottom:8px; float: left;}
.bk_w300{ width:300px; float:left;}
.biankuang_w394{width:392px; height:1019px;border:1px solid #e3e3e3; display:inline; float:right;}
.hot{ background:url(../images/events/hot.gif) no-repeat; width:53px; height:52px; margin:-2px; float:left;}
.ndi_Center_t_text_08{ height:26px;font-size:14px; padding-left:15px; background:url(../images/events/index_bj.jpg) left 509px; line-height:26px; clear:#515151;}/*noimg*/
.Purple_wenzi{font-size:18px; font-family:"微软雅黑","宋体"; color:#c422aa; }
.nd_newslist{ overflow:hidden;margin-top:6px!important;margin-top:5px; margin-left:15px;}
.Purple_icon{height:26px;font-size:14px; padding-left:15px; background:url(../images/events/ss_bg.jpg) left 706px; line-height:26px; clear:#515151;}
.Purple_icon_01{height:26px;font-size:14px; padding-left:20px; background:url(../images/events/ss_bg.jpg) left 688px; line-height:26px; clear:#515151; display:inline-block;}
.newslist_03_bt{ margin-bottom:10px;}
.xixian{ background:url(../images/events/ss_bg.jpg) left 618px; width:275px; height:7px; display:inline-block; margin-left:10px;}
.newslist{ margin:15px 0 0 15px;width:340px;}
.newslist li{ line-height:26px; font-size:14px;}

.body_right { width:250px; height:auto; float:right; }

/*火秀进行*/
.Small_games_pic_01{ margin-left:0px;}
.Small_games_pic_01 ul{ width: 100%; overflow: hidden; zoom: 1; }
.Small_games_pic_01 ul li{ width:102px; text-align:center; float:left; display: inline; margin-left:15px; line-height:30px; margin-top:10px; _margin-top: 13px; height: 136px; _height: 138px; overflow: hidden; }
.Small_games_pic_01 ul li img { display: block; }
.events_W250{ width:250px;  border:1px solid #e3e3e3; float:right; margin-top:8px;}
.right_events_W250{ width:248px;  border:1px solid #e3e3e3; float:left; margin-top:8px;}
.events_title_250{ background:url(../images/events/ss_bg.jpg) left 422px; width:248px; height:32px; overflow:hidden;}
.Purple_Black{color:#ba0f9b;font-size:14px;font-family:"宋体";  font-weight:bold; line-height:32px; text-indent:10px;}
.canjia{ float:right; width:62px; height:22px; display:inline-block; margin:4px 10px 0 0;}

/* 赛事热度 改 赛事专题 */
.top10_news{width:248px;border:1px solid #dedcdd;  float:left; display:inline;}
/* ui_img_list */
.ui_img_list {
	overflow: hidden;
	zoom: 1;
}
.ui_img_list_item {
	float: left;
	display: inline;/* @bug ie6 */
	margin: 10px 0 10px 10px;
	+margin-left: 8px;
	text-align: center;
}
.ui_img_list_item_img {
	display: block;
	margin: 0 0 5px 0;
}
.ui_img_list_item_text {
	color: #D60921;
}
/* ui_list */
.ui_list {
	margin: 0 0 10px;
	+margin-top: 10px;
}
.ui_list_item {
	margin: 7px 10px;
	padding-left: 10px;
	background: url(../images/events/ss_bg.jpg) 0 748px;
}
/*.top10_news_list{ width:220px; padding-left:10px; background:url(../images/events/1_12.jpg) no-repeat;color:#666666; overflow:hidden; margin:20px 10px 0 10px;padding-bottom:10px;}
.top10_news_list li{width:220px; float:left;display:inline;}
.top10_news_list li a{ line-height:25px;  padding-left:15px; position:relative;top:-3px;}*/
.zixun{ float:right;padding-right:10px;}
.wenzi{ font-size:16px; color:#414141;font-family:"微软雅黑"; padding-left:10px; line-height:30px; float:left;}

/*赛事通告*/
#showrc{ width:250px; height:361px;  background:url(../images/events/notice.gif) no-repeat; display:inline-block; margin-top:9px;}
.showrqi{  height:61px; color:#7d0000; padding:10px 15px 0px 165px; text-align:center;}
.showtext1{ font: bold 28px Arial;  padding-top:5px; padding-right:15px;}
.showtext2{ font:  12px/16px "宋体",Arial; color:#000;  float:left; padding-top:5px;}
.showrqinrkuang{ height:auto;}
#showrqinr{ width:243px; height:285px; margin:0 auto; overflow-y: scroll; overflow-x: hidden;}
.showrqinrtext1{ width:220px; height:23px; background:url(../images/events/mingxing_bj.jpg)  no-repeat ; padding-left:10px; font: bold 14px/22px Arial; color:#ee0c76; }
.showrqinrtext1 a{ color: #EE0C76; }
.showrqinrtext1 a strong{ color: #414141; }
.showrqinrtext2{ width:220px; background:url(../images/events/biao.gif) no-repeat; margin:10px 0 0 10px; overflow:hidden;}/*noimg*/
.showrqinrtext2 a{ line-height:22px;}
.showrqinrtext3{ width:243px; font: 12px/15px "宋体",Arial; }

/*快乐女生*/
.events_W300{ width:298px;  border:1px solid #e3e3e3; float:left; margin-top:8px; overflow:hidden;}
.events_title_300{ background:url(../images/events/ss_bg.jpg) left 422px; width:298px; height:32px; overflow:hidden;}
.right_events_W300{ width:298px; border:1px solid #e3e3e3; float:left; margin-top:8px;}
.Happy_girl_list{ width:284px; margin:9px;}
.Happy_girl_list .intro { color: #999; font-size: 0.75em; line-height: 1.2; }
.Happy_girl_list .intro h4 { font-size: 12px; font-weight: bold; margin-bottom: 0.5em; }
.Happy_girl_list .intro p { font-size: 12px; line-height: 15px; height: 60px; overflow: hidden; }

.Happy_girl_list_tw img{ float:left; width:120px; height:84px; margin-right: 1em; }
.Happy_girl_list_wenzi{ float:right; width:147px; font-weight:bold; font-size:12px; _font-size: 11px; line-height:24px;}
.Happy_girl_newslist{width:284px; }
.Happy_girl_newslist ul li{ line-height: 18px; margin-top: 8px; font-size:14px; }
.Happy_girl_newslist ul li span{ line-height: 18px; }
.Point{ background: url(../images/events/ss_bg.jpg) left 750px; height:26px; line-height:26px;padding-left:10px;}

/*赛事专题*/
.events_zt{ background:url(../images/events/saishi_zt.jpg) no-repeat; width:960px; height:292px; margin-top:8px;}
.events_zt_list{ width:929px; margin:80px 5px  0 15px;}
/*.events_zt_list_left{ background:url(../images/events/ss_bg.jpg) left 290px; width:35px; height:179px; display:inline-block; float:left;}*/
.events_zt_list_pic{ width:840px; float:left; padding-left:10px;}
.events_zt_list_pic li{float:left; width:124px; text-align:center; line-height:30px; padding-left:16px; display:inline;}
.events_zt_list_pic li img{padding:1px; border:1px solid #e8e8e8; width:120px;}
/*.events_zt_list_right{ background:url(../images/events/ss_bg.jpg) right 270px; width:35px; height:179px; display:inline-block; float:right;}*/
#scrollbox3 .scrollbox-items-wrap{ width: 840px; overflow:hidden; float:left; }
#scrollbox3 .scrollbox-items-wrap-body{ width: 99999em;}

/* top video */
.cross_title_bg {width:698px; height:30px; background:url(../images/events/ss_bg.jpg) left 360px; margin:0 auto;}
.title_blue_big {font-size:16px; font-family:"宋体"; color:#bb009d; font-weight:bold; padding-left:25px; float:left; line-height:32px;}
.tp_title_blue_big {font-size:16px; font-family:"宋体"; color:#bb009d; font-weight:bold; padding-left:5px; float:left; line-height:32px;}
.top_video {width:698px; height:325px; border:1px solid #dedcdd; float:left; display:inline; margin-top:8px; }
.top_video_list {padding:0 0 10px 15px; float:left; width:680px;}
.top_video_list li { position: relative; top: -4px; left: 12px; float:left; display:inline; width:146px; height: 147px; overflow: hidden; text-align: center; margin-right: 20px; }
.top_video_pic_bg { width: 146px; height: 102px; background:url(../images/common/bg.jpg) left 287px; display: inline-block; padding-top: 5px; margin-top: 14px; }
.top_video_text{ display: inline-block; width:138px;text-align:center; height: 22px; line-height:22px; _margin-top: 3px; overflow: hidden; }

/*精彩回顾*/
.events_W250_02{ width:250px;  border:1px solid #e3e3e3; float:right; margin-top:8px;}
.events_title_250_02{background:url(../images/events/ss_bg.jpg) left 360px; width:250px; height:32px; overflow:hidden;}

/*精彩回顾*/
.events_W250_03{ width:300px;  border:1px solid #e3e3e3; float:left; margin-top:8px;}
.events_W250_03 .Happy_girl_newslist ul{ padding-top: 4px; }
.events_W250_03 .Happy_girl_newslist li{ margin-top: 4px; font-size: 12px; }
.tp_events_W300{ width:298px;  border:1px solid #e3e3e3; float:left; margin-top:8px; }
.tp_events_W300_title{background:url(../images/events/ss_bg.jpg) left 360px; width:298px; height:32px; overflow:hidden;}
.events_title_250_03{background:url(../images/events/ss_bg.jpg) left 360px; width:300px; height:32px; overflow:hidden;}

/*赛事群组*/
.events_W250_04{overflow:hidden; width:388px; height:248px; border:1px solid #e3e3e3; float:left; margin-top:8px; margin-left:8px;}
.events_title_250_04{background:url(../images/events/ss_bg.jpg) left 360px; width:388px; height:32px; overflow:hidden;}
.events_quenzu{ margin-left:0px;}
.events_quenzu ul{ width:360px; margin-left:13px;}
.events_quenzu ul li{ width:160px;  float:left; margin-right:15px; line-height:30px; margin-top:10px;}
.events_quenzu_pic{ float:left; width:48px; height:48px;}
.events_quenzu_wz{ float:right; width:108px; line-height:18px; color:#999999;}
.events_quenzu_wz_c{ font-weight:bold; color:#414141;}

/* 赛事图集 */
.events_tuj{ background:url(../images/events/tuji.jpg) no-repeat; width:960px; height:457px; margin-top:8px;}
.pic_list{ width:900px; margin: 0 auto; margin-top:8px; padding-top:60px;}
.pic_list ul{}
.pic_list ul li{ float:left; margin-left:8px; height:194px; width:120px; display:inline;}
.pic_list ul li.first{ width:232px; height:360px; text-align:center;  margin-left:10px; display:inline;}
.pic_text_bg_first {width:232px; height:24px; background: #a91b32; color:#FFF; text-align:center; display:inline-block;}
.pic_text_bg_first a {color:#FFF; line-height:25px; font-weight:bold;}
.pic_txt_bg_red {width:119px; height:24px; background: #a91b32; color:#FFF; text-align:center; display:inline-block;}
.pic_txt_bg_purple {width:119px; height:24px; background: #b2119b; color:#FFF; text-align:center; display:inline-block;}
.pic_txt_bg_blue {width:119px; height:24px; background: #1b57a9; color:#FFF; text-align:center; display:inline-block;}
.pic_txt_bg_green {width:119px; height:24px; background: #74a91b; color:#FFF; text-align:center; display:inline-block;}
.pic_txt_bg_yellow {width:119px; height:24px; background: #fac628; color:#FFF; text-align:center; display:inline-block;}
.pic_txt_bg_cyan {width:119px; height:24px; background: #44c2e4; color:#FFF; text-align:center; display:inline-block;}
.pic_txt_bg_red a,.pic_txt_bg_purple a,.pic_txt_bg_blue a,.pic_txt_bg_green a,.pic_txt_bg_yellow a,.pic_txt_bg_cyan a{ color:#FFF; line-height:25px; }


/*全部赛事内页*/
.body_webgame_left{ width:650px; height:auto; float:left;}
.body_webgame_right{ width:300px; height:auto; float:right;}

.wholeevents_W650{width:650px;border:1px solid #dedcdd; display:inline; float:left; margin-top:8px; padding-bottom:10px; overflow:hidden;}
.wholeevents_W650_hr{width:650px;border:1px solid #dedcdd; display:inline; float:left; padding-bottom:10px; overflow:hidden;}
.wholeevents_title_bg_650{width:650px; height:30px; background:url(../images/events/ss_bg.jpg) left 360px; margin:0 auto;}
.Web_games_Center{ width:310px; float:right; padding-bottom:8px; border-left:1px solid #dedcdd; overflow:hidden; }
.events_top_video_list{padding:0 0 0 5px; float:left; width:400px;}
.events_top_video_list li{float:left; width:145px;text-align:center; margin-right:10px; display:inline;}
.Red_icon{height:26px;font-size:14px; padding-left:25px; background:url(../images/events/ss_bg.jpg) left 641px; line-height:26px; clear:#515151;}

/*赛事群组*/
.wholeevents_jinx{ margin-left:0px;}
.wholeevents_jinx ul{ width:630px; }
.wholeevents_jinx ul li{ width:282px;  float:left; margin-left:25px; line-height:30px; margin-top:15px; display:inline;}
.wholeevents_jinx_pic{ float:left; width:115px; height:95px;}
.wholeevents_jinx_wz{ float:right; width:162px; line-height:18px; color:#999999;}
.wholeevents_jinx_wz_c{ font-weight:bold; color:#414141;}
.wholeevents_jinx ul li a{ color:#c31495;}

/*左边图文样式*/
.Web_games_left_02{ width:320px;float:left;display:inline; overflow:hidden;}

/*右边排行*/
.charts_block {width:280px; height:552px; overflow:hidden; background:url(../images/events/ss_1-10.jpg);float:left;}
.charts_top {height:70px; padding-top:9px; padding-left:30px; float:left;}
.charts_top_pic { width:290px; height:70px; float:left;}
.charts_top_pic img{ width:110px; height:80px; }
.charts_top_text { width:134px;  overflow:hidden;  float:right; line-height:18px; margin-right:37px; display:inline-block; }
.charts_others {padding-left:41px; width:300px; margin-top:-14px;}
.charts_others li {float:left; width:300px; line-height:14px; margin-top:21px; height:30px;}
.charts_text { width:300px; overflow:hidden; line-height:14px; height:14px;}

/*赛事专题内页*/

/*投票*/
.Vote_01{ width:300px; margin-top:8px;  height:260px; border:1px solid #e5e5e5;}
.music_W250_tuopiao_bt_01{ border-bottom:2px solid #e5e5e5; width:298px; height:31px;}
.tuotiao_bt_yuan_01{ background:url(../images/events/tuopiao_tu.jpg) no-repeat left ; width:26px; height:26px; display:inline-block; float:left; margin:2px 5px 0 6px;}

/*投票公用样式*/
.music_W250_tuopiao_text{ width:216px; margin:10px 0 0 20px; color:#8a8a8a;}
.music_W250_tuopiao_text_list{ margin:10px 15px 0 15px;}
.music_W250_tuopiao_text_list ul li{ line-height:26px; height:26px;}
.music_toutiao_anniu{ margin:10px 0 15px 40px;}
.title_Black{width:100px;font-size:16px; font-family:"微软雅黑","宋体"; color:#414141; padding-left:5px; line-height:28px; float:left;}
.Text_color{ line-height:26px;font-weight:bold; color:#000;}

/*赛事专题*/
.web_game_pic_list{ display: inline;float: left; margin-top: 8px; overflow: hidden; width: 650px;}
.web_game_pic_list ul{}
.web_game_pic_list ul li{display: inline; float: left; height: 175px; margin-left: 8px; overflow: hidden; width: 120px;}
.web_game_hot_movie_block { width:130px; height:20px; position:absolute; z-index:999; background-color:#363636; filter:alpha(opacity=80); opacity:.80; overflow:hidden; margin-top:303px;}
.web_game_hot_movie_text a{ color:#fff; line-height:20px; padding: 0 0 0 5px;}
.web_game_hot_movie_block_01 {background-color: #363636; float: left; height: 20px; margin-top: 145px; opacity: 0.8; overflow: hidden; position: absolute; text-align:center; width:120px;z-index: 999;}
.hot_movie_text a{ color:#fff; line-height:20px; padding: 0 0 0 5px;}
.hot_movie_text a:hover{ color:#F60;}

/*赛事图片*/
.Small_games_pic_02{ margin-top:10px; margin-left:20px; }
.Small_games_pic_02 ul{ width:270px; }
.Small_games_pic_02 ul li{ width:124px; text-align:center; float:left; margin-right:11px; line-height:30px;}

/*赛事日程内页*/
#ad{ padding-bottom:8px;}
.subpage_event_bt{background:#999; height:37px;background:url(../images/events/ss_bg.jpg) left 360px;}
.eventph_bt{ width:650px;height:30px;background:url(../images/events/ss_bg.jpg) left 360px; border:1px solid #dedcdd; margin-bottom:10px;}
.subpage_event_bt span{ font:bold 24px Arial; color:#b9039f; padding-left:50px}
.subpage_event_bt ul{ float:left; width:360px; height:35px;  margin-left:45px;}
.subpage_event_bt  ul li{ float:left; width:50px;}
.subpage_event_bt  ul li a{ height:28px; width:50px;display:block; font:12px "宋体"; color: #545353; line-height:28px;  text-align:center;}
.subpage_event_bt  ul li a:hover{height:28px; width:50px; display:block;font:12px "宋体";background:#fff;line-height:28px;  color:#b81ea2; text-align:center; border-top:1px solid #b81ea2;border-left:1px solid #b81ea2;border-right:1px solid #b81ea2;}
.ril_tub a{ background:url(../images/events/ss_bg.jpg) left 89px; width:17px; height:17px; display:inline-block; margin:6px 0  0 10px; float:left;}
.ril_tub a:hover{ background:url(../images/events/ss_bg.jpg) left 51px; width:17px; height:17px; display:inline-block; margin:6px 0  0 10px;float:left;}
.xiazhou{ float:left;   display:inline-block; margin:3px 10px 0 20px; display:inline; background:url(../images/events/xiaz.jpg) no-repeat;}
.xiazhou a{ background:url(../images/events/xiaz.jpg) no-repeat;width:47px; height:21px; color:#fff; line-height:21px; display:inline-block; padding-left:10px; float:left;}
.xiazhou a:hover{ background:url(../images/events/xiaz_01.jpg) no-repeat;width:47px; height:21px; color:#fff; line-height:21px; display:inline-block; padding-left:10px; float:left;}

.eventsph_W650{ margin-top:8px;}
.sub_toppara{ width:430px; float:right; margin:5px 0 0 5px;}
.sub_toppara h3{font:bold 14px "宋体"; color:484646; padding-bottom:5px;}
/*h3 span{color: #AD0596;float: right;font-size: 12px;padding-right: 15px;vertical-align: middle;}
h3 span img{ vertical-align:middle; margin-left:2px;}*/
.subpage_ph_sub{margin-bottom:10px; background:url(../images/events/ph-sec-bg.jpg) repeat-x;width:648px; border:1px solid #dedcdd;  float:left; padding-bottom:10px;}
.sub_topno{ float:left; }
.sub_topimg{ float:left; margin:5px 5px; vertical-align:middle;   width:102px; height:97px;}
.sub_toppara p{ line-height:20px; display:inline; display:inline-block;}
.guzhu{float:right; line-height:14px; height:14px; margin-top:7px; padding-right:13px;}
.guzhu img{padding:0 2px; position:relative;top:3px;}

table{text-align:center; font:12px "宋体"; color:#000;}
table tr{height:36px;}
.dt_date{ width:155px;}
.dt_time{ width:100px;}
.dt_content{ width:290px}
.dt_Organizer{ width:100px}

#mon{ background:url(../images/events/Mon.jpg) no-repeat #cf54be; color:#FFF;}/*noimg*/
#tues{background:url(../images/events/tues.jpg) no-repeat #e9e9e9;}/*noimg*/
#wed{background:url(../images/events/wed.jpg) no-repeat #cf54be;color:#FFF;}/*noimg*/
#thu{background:url(../images/events/thu.jpg) no-repeat #e9e9e9;}/*noimg*/
#fri{ background:url(../images/events/fri.jpg) no-repeat #cf54be;color:#FFF;}/*noimg*/
#sat {background:url(../images/events/sat.jpg) no-repeat #e9e9e9;}/*noimg*/
#sun{background:url(../images/events/sun.jpg) no-repeat #cf54be;color:#FFF;}/*noimg*/

table tr td span{font:18px "微软雅黑";}
table th{font:bold 14px "宋体"; color:#000;}
.tab_jstd{background:#cf54be;}
.tab_js{background:#ffdefa;}
.tab_os{background:#f6f6f6; }
#schedule_y .table-tm tr th{height:30px; font:bold 18px "微软雅黑"; color:#FFF; background:#cf54be}
#schedule_y .table-tm tr td{height:80px; font:bold 18px "微软雅黑"; color:#cf54be}
#schedule_y .table-tm tr td a{ font:18px "微软雅黑"; color:#cf54be}
.slide_page span{float:right; margin:10px; background:#ffdefa; border:1px solid #cf54be; width:46px; line-height:18px; text-align:center}

/* ui_fold_box_title span */
.ui_fold_box_title span {float: none;color: #444;font-size: 16px;}

/***图片内容***/
#Article{ overflow:hidden}
#Article,.photo-channel .relevance{ border:1px solid #DFDDDD;zoom:1; padding:0 20px}
#Article h1{color:#000;font:800 26px/30px "宋体",arial;margin-bottom:6px; text-align:center; padding:16px 0 8px; border-bottom:1px solid #e5e5e5}
#Article h1 span{ font-size:12px; font-weight:normal; line-height:20px; color:#999}
#Article .content{ font-size:14px}
#Article .content p{font-size:14px;line-height:23px;text-align:justify;word-wrap:break-word; padding:8px 0}
#Article .related{ border-top:dashed 1px #ccc; margin-top:15px}
#Article .related h5{padding-bottom:4px}
#Article .related{ padding:10px 0 0}
#Article .related a{ color:#0b3b8c}
.Article-Tool{ border:1px solid #c3d4e7; position:relative; top:-1px; text-align:right; padding:8px; vertical-align:middle; height:15px; background-color:#f4f8fd}
.Article-Tool a{width:16px;height:16px;line-height:16px;background: url(../images/v9/icon.png) no-repeat; margin-left:6px;}
.Article-Tool a:hover{text-decoration: none}
.Article-Tool a.t,.Article-Tool a.t6{background-position: left -336px; width:auto; padding-left:16px; color:#8896b1}
.Article-Tool a.t1{background-position: left -115px;}
.Article-Tool a.t2{background-position: left -159px;}
.Article-Tool a.t3{background-position: left -205px;}
.Article-Tool a.t4{background-position: left -250px;}
.Article-Tool a.t5{background-position: left -294px;}
.Article-Tool a.t6{background-position: left -421px;padding-left:18px;}
.photo-channel #Article .tool{ position:relative; height:35px; padding-top:6px}
.photo-channel #Article .tool .auto,.photo-channel .tool .up,.photo-channel .tool .next{background: url(../images/v9/up-next.png) no-repeat; height:27px; width:31px;margin-right:10px; overflow:hidden; line-height:27px}
.photo-channel #Article .tool .auto span,.photo-channel .tool .up span,.photo-channel .tool .next span{ visibility:hidden}
.photo-channel #Article .tool .auto{background-position: -39px top;}
.photo-channel #Article .tool .next{background-position: -78px top;}
.photo-channel #Article .Article-Tool{ position:absolute; right:0; border:none; background:none; font-size:12px; font-weight:normal}
.photo-channel #Article .tool .stat{ color:#999;}
.photo-channel #Article .big-pic{ text-align:center; padding:10px 0;background-color:#fafcfe; position: relative}
.photo-channel #Article .big-pic #big-pic{display:table-cell;vertical-align:middle;*display:block; overflow:hidden;*font-size:480px; width:896px; height:650px}
.photo-channel #Article .big-pic .max{ position:absolute; bottom:0px; right:0px;background: #FFF url(../images/v9/max.png) no-repeat 5px center; z-index:101; padding:5px 5px 5px 20px}
.photo_prev{position:absolute;left:0;top:0;width:50%;height:100%;z-index:100}
.photo_next{ position:absolute; right:0; top:0; width:50%; height:100%; z-index:100}
.photo_prev a,.photo_next a{background-image: url(../images/blank.gif);display:block; width:100%; height:100%; outline:none;}
.photo_prev_tu {position:relative;top:-350px;float:left;left:0; width:65;height:96;z-index:100}
.photo_next_tu{position:relative;top: -350px;float:right;right:0; width:65;height:96; z-index:100}

#Article .list-pic{ padding:22px 0 16px; height:100px}
#Article .cont{overflow:hidden; float: left; width:616px; height:80px}
#Article .cont li{ float:left; width:123px; text-align:center; display:block; overflow:hidden}
#Article .cont li .img-wrap{width:100px; height:75px; margin:0 auto;}
#Article .cont li .img-wrap a{*font-size:55px;width:100px; height:75px;outline: medium none;}
#Article .cont li.on .img-wrap{ border:2px solid #ffb017}
#Article .list-pic .pre,#Article .list-pic .next{float:left; display:block; position:relative;background: url(../images/v9/pic_bg.png) no-repeat;width:110px;height:86px; text-align:center}
#Article .list-pic .pre{ left:-8px;top:-3px; margin-right:14px}
#Article .list-pic .next{ right:-8px; float:right;top:-3px}
#Article .list-pic .pre .img-wrap,#Article .list-pic .next .img-wrap{width:102px; height:72px;border:none; padding:4px 0 8px}
#Article .list-pic .pre .img-wrap a,#Article .list-pic .next .img-wrap a{*font-size:53px;width:98px; height:72px; padding:0px 5px 0 4px;*padding:0px 5px 5px 0px }
#Article .list-pic .pre .img-wrap a:hover,#Article .list-pic .next .img-wrap a:hover{ background:none}
#Article .list-pic .next{ right:-8px; float:right;bottom:-2px}
#Article .pre-bnt,#Article .next-bnt{margin-top:3px;cursor: hand;!important;cursor: pointer}
#Article .pre-bnt,#Article .next-bnt,#Article .pre-bnt span,#Article .next-bnt span{background: url(../images/v9/big-btn.png) no-repeat; display:block; width:17px; height:69px; float:left;}
#Article .pre-bnt:hover, #Article .next-bnt:hover,#Article .pre-bnt-on,#Article .next-bnt-on{background-position: 0 -78px;}
#Article .pre-bnt span{background-position: -30px top;}
#Article .pre-bnt:hover span,#Article .pre-bnt-on span{background-position: -30px -78px;}
#Article .next-bnt span{background-position: -55px top;}
#Article .next-bnt:hover span,#Article .next-bnt-on span{background-position: -55px -78px;}
/* endSelect */
#endSelect{top:290px;left:333px;position:absolute;width:230px;height:71px;border:1px solid #8a8a8a;display:none;z-index:200;}
#endSelect .bg{height:100%;width:100%;background:#000;filter:Alpha(Opacity=50);opacity:0.5;}
#endSelect .E_Cont{position:absolute;top:10px;left:26px;color:#fff;font-size:14px;}
#endSelect .E_Cont p{padding:4px 0;zoom:1;overflow:hidden;}
#rePlayBut,#nextPicsBut,#endSelect #endSelClose{background:url(../images/v9/big-btn.png) no-repeat}
#rePlayBut{float:left;width:69px;height:23px;background-position: 0px -167px;}
#nextPicsBut{float:left;width:97px;height:23px;background-position: -100px -167px;margin-left:10px;}
#endSelect #endSelClose{background-position: 0px -217px;position:absolute;top:3px;right:3px;cursor:pointer;width:11px;height:11px;overflow:hidden;z-index:2;}